body
{background-color: #d2e2c8;
}
#cover{
    width:100px;
    height: 100px;
}
#profilepic
{ width: 200px;
height: 200px;
position:relative;
background-image:url('http://wallpapersite.com/images/pages/pic_w/435.jpg');
}
h3
{background-color: #9db39a;
}
h2
{background-color: #97c5a5;
}
