body {
    font-family: sans-serif;
    margin-top: 60px;
background-image:url('https://www.google.co.in/search?q=books+hd&espv=2&biw=1366&bih=662&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi--4_5-K_QAhUMuI8KHRibCEcQ_AUIBigB#tbm=isch&q=books++hd+widescreen&imgrc=4ZgtrVfVy8BRIM%3A');
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4a4a;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
